@charset "UTF-8";
html {
  font-size: 15px; }

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #2B2A2C; }
  body.no-scroll {
    overflow: hidden; }

*, *::before, *::after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none;
    text-decoration-color: inherit; }

p {
  margin: 0 0 1rem; }

li {
  list-style-type: none; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 1.05em 1.7em;
  border: 1px solid #6A696B;
  border-radius: 1.8em;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.06667rem;
  line-height: 1.1;
  color: #2B2A2C;
  text-transform: uppercase;
  text-align: center;
  transition: all .35s ease-out; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    background-color: #2B2A2C;
    color: #EFEFEF;
    border-color: #2B2A2C; }
  .btn--sm {
    padding: .5em .5em;
    font-size: 0.93333rem;
    font-weight: 700;
    border-width: 2px; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.header {
  padding: 1.2rem 0; }
  .header .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.user {
  display: flex; }

.user__avatar {
  width: 57px;
  height: 57px; }
  .user__avatar img {
    border-radius: 50%; }

.user__content {
  padding-left: 9px; }
  .user__content .user__name {
    font-size: 1.06rem;
    font-weight: 700;
    color: #2B2A2C;
    margin-bottom: 3px; }
  .user__content .user__prof {
    font-size: .8rem;
    color: rgba(43, 42, 44, 0.7); }

.nav__list {
  display: flex;
  align-items: center; }
  .nav__list .nav__link {
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.66rem 2rem;
    border: 2px solid transparent; }
    .nav__list .nav__link--btn {
      border: 2px solid #2B2A2C;
      border-radius: 20px;
      transition: all .35s ease-out; }
      .nav__list .nav__link--btn:hover {
        background-color: #2B2A2C; }
        .nav__list .nav__link--btn:hover > a {
          color: #EFEFEF; }
      .nav__list .nav__link--btn > a::after {
        display: none; }
    .nav__list .nav__link a {
      text-decoration: none;
      color: #2B2A2C;
      position: relative; }
      .nav__list .nav__link a::after {
        position: absolute;
        content: '';
        bottom: -0.5rem;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #2B2A2C;
        transition: all .25s ease-out; }
      .nav__list .nav__link a:hover::after {
        width: 100%; }
    .nav__list .nav__link.current-menu-item a::before {
      position: absolute;
      content: '';
      bottom: -0.5rem;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #2B2A2C; }

.intro__inner {
  display: flex;
  padding-top: 6.86667rem;
  padding-bottom: 8rem;
  background: url("../../img/Symbol 3 – 1.png") right center no-repeat;
  border-bottom: 1px solid rgba(106, 105, 107, 0.3);
  position: relative; }

.intro__content {
  width: 50%; }

.intro__subtitle {
  font-size: 2.13rem;
  color: #2B2A2C;
  font-weight: 200; }

.intro__title {
  font-size: 3rem;
  color: #2B2A2C;
  font-weight: 700; }

.intro__text {
  font-size: 1.2rem;
  color: rgba(43, 42, 44, 0.5);
  margin-bottom: 1.66667rem; }

.intro__photo {
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 1; }

.social {
  display: flex;
  margin-bottom: 2.8rem; }
  .social .social__link {
    transition: all .35s ease-out; }
    .social .social__link + .social__link {
      margin-left: 0.66667rem; }
    .social .social__link:hover {
      transform: translateY(-5px); }

.btn {
  min-width: 11.33333rem; }
  .btn:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24); }
  .btn + .btn {
    margin-left: 1rem; }

.works {
  margin: 2.8rem; }

.works__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem; }

.works__nav-link {
  margin: 0 1.2rem;
  font-size: .8rem;
  text-transform: uppercase;
  color: rgba(43, 42, 44, 0.7);
  transition: all .35s ease-out; }
  .works__nav-link:hover {
    text-decoration: underline; }

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem 2.8rem; }

.portfolio__col {
  flex-basis: 33.33333%;
  padding: 1rem; }

.work {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  transition: all .35s ease-out; }
  .work:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25); }

.work__content {
  padding: 1rem 0.8rem; }

.work__cat {
  margin-bottom: .5rem;
  font-size: 0.8rem;
  color: #2B2A2C;
  text-transform: uppercase; }

.work__title {
  display: flex;
  justify-content: space-between;
  font-size: 1.06rem;
  font-weight: 700;
  color: #2B2A2C;
  text-transform: uppercase; }

.about {
  margin: 8.4rem 0; }

.about__inner {
  display: flex;
  max-width: 1090px; }

.about__photo,
.about__content {
  width: 50%; }

.about__photo {
  position: relative; }
  .about__photo img {
    position: relative;
    z-index: 2; }
  .about__photo:before {
    content: '';
    width: 27.53333rem;
    height: 27.53333rem;
    background-color: #efefef;
    position: absolute;
    left: 1rem;
    bottom: 0;
    z-index: -1; }

.about__content {
  padding-left: 3.1rem;
  margin-top: 2rem; }

.about__title {
  font-size: 3rem;
  font-weight: 700;
  color: #2B2A2C;
  text-transform: uppercase; }

.about__title--lg {
  position: relative;
  left: -10px;
  margin-bottom: 1.4rem;
  font-size: 6.13333rem;
  font-weight: 700;
  line-height: 1.1;
  color: rgba(43, 42, 44, 0.15);
  text-transform: uppercase; }

.about__text {
  margin-bottom: 2.66667rem;
  font-size: .8rem;
  font-weight: 300;
  line-height: 2;
  color: #6A696B; }

.reviews {
  position: relative;
  padding: 4.53333rem 0;
  background: #332F30 url("../img/Symbol 3 – 1.png") center no-repeat; }
  .reviews__item {
    width: 100%;
    max-width: 55.33333rem;
    margin: 0 auto; }
  .reviews__text {
    font-size: 0.93333rem;
    line-height: 2.13333rem;
    color: #EFEFEF;
    text-align: сenter; }
  .reviews__author {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    margin-top: -3.4rem;
    text-align: center; }
  .reviews__photo {
    display: block;
    margin: 0 auto 0.6rem;
    width: 6.86667rem;
    height: 6.86667rem;
    border-radius: 50%;
    border: 4px solid #EFEFEF; }
  .reviews__name {
    font-size: 1.06rem;
    color: #2B2A2C;
    font-weight: 700; }
  .reviews__company {
    margin-bottom: .4rem;
    font-size: 0.93333rem;
    font-style: italic;
    font-weight: 300;
    color: #6A696B; }
  .reviews__star {
    display: inline-block;
    width: 13px;
    height: 13px;
    cursor: pointer; }
    .reviews__star--unactive {
      opacity: .3; }
      .reviews__star--unactive:hover {
        opacity: 1; }

.news {
  margin-top: 14.53333rem;
  margin-bottom: 8.13333rem; }
  .news__header {
    margin-bottom: 3.66667rem;
    text-align: center; }
  .news__title {
    margin-bottom: .3rem;
    font-size: 3rem;
    font-weight: 700;
    color: #2B2A2C;
    text-transform: uppercase; }
  .news__text {
    font-size: 1.2rem;
    color: #8D8D8E;
    font-weight: 300; }
  .news__footer {
    text-align: right; }
    .news__footer__link {
      font-size: 0.93333rem;
      color: #6A696B;
      text-decoration: underline; }
      .news__footer__link:hover {
        text-decoration: none; }

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem; }
  .articles__col {
    width: 33.33333%;
    padding: 0 1rem; }
  .articles__item {
    margin-bottom: 2rem; }
  .articles__header {
    margin-bottom: 1.33333rem;
    position: relative; }
  .articles__date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    background-color: #2B2A2C;
    font-size: 1.06667rem;
    text-align: center;
    line-height: 1.4rem;
    color: #EFEFEF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .articles__title {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    color: #2B2A2C;
    text-transform: uppercase;
    font-weight: 700; }
    .articles__title a {
      color: inherit; }
      .articles__title a:hover {
        text-decoration: underline; }
  .articles__cat {
    margin-bottom: 1.53333rem;
    font-size: 0.8rem;
    color: #2B2A2C;
    text-transform: uppercase; }
  .articles__text {
    margin-bottom: 1.53333rem;
    font-size: 0.8rem;
    color: #6A696B;
    font-weight: 300;
    line-height: 2; }

.footer {
  padding: 1.2rem 0;
  width: 100%;
  background-color: #2B2A2C; }
  .footer__inner {
    display: flex;
    justify-content: space-between; }
  .footer__credits {
    display: flex;
    align-items: center; }
  .footer__copyright {
    padding-right: 0.8rem;
    margin-right: 0.8rem;
    font-size: 0.93333rem;
    color: #BBBBCC;
    border-right: 1px solid rgba(106, 105, 107, 0.35); }
  .footer__social {
    display: flex;
    align-items: center; }
    .footer__social--link {
      display: inline-block;
      margin-right: 1rem; }
  .footer__nav {
    display: flex;
    align-items: center;
    font-size: 0.93333rem; }
    .footer__nav-link {
      margin-left: 1.2rem;
      color: #6A696B; }
      .footer__nav-link--btn {
        padding: .5rem 1.4rem;
        border: 1px solid #6A696B;
        border-radius: 20px;
        line-height: 1.1;
        transition: all .35s ease-out; }
        .footer__nav-link--btn:hover {
          background-color: #6A696B;
          border-color: #6A696B;
          color: #EFEFEF; }

.modal {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  background-color: rgba(43, 42, 44, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }
  .modal__dialog {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    position: relative; }
    .modal__dialog--sm {
      max-width: 60rem; }
  .modal__close {
    padding: 0;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 0.86667rem;
    right: 0.86667rem;
    z-index: 5;
    cursor: pointer;
    transition: all .35s ease-in; }
    .modal__close:hover {
      transform: translateY(-3px); }
    .modal__close:focus {
      outline: none; }
  .modal__content {
    padding: 5rem 1rem; }
  .modal__title {
    margin-bottom: 3.6rem;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #2B2A2C; }

.modal-work {
  display: flex;
  position: relative; }
  .modal-work__preview {
    width: 65%;
    position: relative;
    overflow: hidden; }
  .modal-work__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%); }
  .modal-work__content {
    width: 35%;
    padding: 3.33333rem 6.6rem 1rem 1.73333rem;
    position: relative; }
  .modal-work__header {
    margin-bottom: 2.2rem; }
  .modal-work__title {
    margin-bottom: .2rem;
    font-size: 2.13333rem;
    font-weight: 700;
    color: #2B2A2C;
    text-transform: uppercase; }
  .modal-work__info {
    font-size: 1.2rem;
    color: #6A696B;
    text-transform: uppercase; }
    .modal-work__info-divider {
      margin: 0 1rem; }
  .modal-work__client {
    margin-bottom: 2.2rem; }
    .modal-work__client-title {
      margin-bottom: 0.2rem;
      font-size: 1.06667rem;
      color: #2B2A2C;
      font-weight: 700; }
    .modal-work__client-company {
      font-size: 0.93333rem;
      font-style: italic;
      color: #6A696B; }
  .modal-work__text {
    margin-bottom: 8.66667rem;
    font-size: 0.8rem;
    color: #6A696B;
    line-height: 2; }
  .modal-work__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.8rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1; }
  .modal-work__btn {
    padding: 0;
    border: 0;
    background: none;
    font-size: .94rem;
    font-family: inherit;
    color: #2B2A2C;
    cursor: pointer; }

.timeline {
  display: flex;
  margin: 4.2rem auto;
  width: 100%;
  max-width: 51.2rem;
  position: relative; }
  .timeline::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #2B2A2C;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1; }
  .timeline__col {
    width: 50%; }
    .timeline__col--left {
      padding-right: 3.2rem;
      text-align: right; }
    .timeline__col--right {
      padding-left: 3.2rem; }
  .timeline__title {
    margin-bottom: 2.53333rem;
    font-size: 1.2rem;
    color: #2B2A2C;
    text-transform: uppercase;
    font-weight: 700; }
  .timeline__item {
    margin-bottom: 2.6rem; }
    .timeline__item:last-child {
      margin-bottom: 0; }
  .timeline__date {
    margin-bottom: 0.8rem;
    display: block;
    font-size: 0.94rem;
    color: #2B2A2C;
    text-decoration: underline; }
  .timeline__subtitle {
    margin-bottom: 0.2rem;
    font-size: 1.06rem;
    color: #2B2A2C;
    font-weight: 700; }
  .timeline__profession {
    font-size: 0.93333rem;
    font-style: italic;
    color: #2B2A2C; }
  .timeline__text {
    margin-top: 0.8rem;
    font-size: 0.8rem;
    color: #6A696B;
    font-weight: 300;
    line-height: 1.5; }

.progress-bar__item {
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center; }

.progress-bar__left {
  width: 10rem;
  overflow: hidden; }

.progress-bar__title {
  font-size: 0.94rem;
  font-weight: 300; }

.progress-bar__right {
  padding-left: 1.2rem; }

.progress-bar__bar {
  width: 9.26667rem;
  height: 6px;
  background-color: #EFEFEF; }

.progress-bar__progress {
  height: 100%;
  background-color: #6A696B;
  transition: all .35s ease-out; }

.contact {
  display: flex; }
  .contact__left {
    width: 47%;
    padding: 2rem; }
  .contact__right {
    width: 53%;
    background: #2B2A2C url(https://placehold.it/480x700) center no-repeat; }
  .contact__info {
    margin: 2rem 0 3rem;
    padding: 0;
    list-style: none; }
    .contact__info--item {
      display: flex;
      align-items: center; }
    .contact__info a {
      color: #2B2A2C; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.mb-0 {
  margin-bottom: 0; }
